html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: "Open Sans", sans-serif;
  background-image: url("https://kartinkin.net/uploads/posts/2021-07/1626296434_25-kartinkin-com-p-neitralnii-goluboi-fon-krasivo-25.jpg");
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 5px;
}
.main {
  width: 1140px;
  height: 0px;
}
.section-title {
  text-transform: uppercase;
  text-align: center;
  color: rgb(53, 53, 255);
}
.section-title:hover {
  color: #f80ca9;
}
.header {
  background-color: blue;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.header-navigation {
  min-height: 42px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-toggle {
  display: none;
}
.header-logo {
  display: inline-block;
  width: 20%;
  padding: 0px 15px;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1px;
}
.header-logo:hover {
  color: #f80ca9;
}
.claer-fix {
  content: "";
  display: table;
  clear: both;
}
.header-menu {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.header-menu-item {
  display: inline-block;
}
.header-menu-link {
  text-transform: uppercase;
  padding: 18px 15px;
  font-size: 14px;
  transition: background-color 0.6s;
}
.header-menu-link:hover {
  background-color: rgb(14, 0, 13);
}
.intro {
  padding: 60px 0;
}
.intro-inner {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.intro-img {
  width: 250;
  height: 250;
  border-radius: 50%;
}
.intro-left {
  width: 25%;
}
.intro-right {
  width: 60%;
}
/* section */
.contacts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  background-color: rgb(0, 68, 255);
  gap: 40px;
  margin: 0 0 10px 0;
  padding: 60px 0;
  border-radius: 4px;
  list-style: none;
  text-align: center;
}
.skills li {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgb(100, 124, 231);
}
.education ul {
  margin: 0;
  padding: 10px;
  list-style: none;
  text-align: center;
}
.language ol {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 130px);
  justify-content: center;
  grid-gap: 20px;
  border-radius: 4%;
  margin: 0 0 50px 0;
  padding: 0 20px;
  list-style: none;
}
.language img {
  border-radius: 4%;
  border: 1px solid black;
}
.language li {
  display: grid;
  text-align: center;
  font-size: 16px;
  border-radius: 10%;
  background-color: rgb(100, 124, 231);

  color: #fff;
}
.language li:hover {
  background-color: black;
  transition: background-color 0.4s;
}

.codeexamples p {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  text-align: center;
}
.codeexamples pre {
  width: 40%;
  margin: 10px auto;
  font-size: 1.2em;
  text-align: left;
  color: #fff;
  background-color: rgb(0, 68, 255);
}
.experience {
  text-align: center;
}
.aboutme {
  text-align: center;
}
/* footer */
.footer {
  background-color: blue;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer-navigation {
  min-height: 40px;
  display: flex;
  align-items: center;
}
.footer-logo {
  padding: 0px 15px;
  margin: 0;
  font-size: 18px;
  display: inline-block;
}
.claer-fix {
  content: "";
  display: table;
  clear: both;
}
.footer-menu {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.footer-link {
  justify-content: center;
  text-transform: uppercase;
  margin: 0;
  padding: 16px 15px;
  font-size: 15px;
  transition: background-color 0.6s;
}
.footer-menu-item1 {
  margin: 0 0 0 160px;
}
.footer-link:hover {
  background-color: rgb(14, 0, 13);
}
/*media*/
/*samsung s8+*/
@media screen and (max-width: 360px) {
  .intro {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .header-menu {
    display: none;
  }
  .language img {
    width: 100%;
  }
  .codeexamples pre {
    width: 80%;
  }
  .language ol {
    grid-template-columns: 1fr;
    width: 80%;
    text-align: center;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
/*iphone 12pro*/
@media screen and (max-width: 390px) {
  .intro {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .header-menu {
    display: none;
  }
  .language img {
    width: 100%;
  }
  .codeexamples pre {
    width: 80%;
  }
  .language ol {
    grid-template-columns: 1fr;
    width: 80%;
    text-align: center;
  }
  .footer {
    display: flex;
    flex-wrap: wrap;
  }
}
